@{
    ViewData["Title"] = "Index";
}

<h1>Envio de Produtos</h1>
<hr>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if(ViewData["Error"] != null) 
        {
            <h2 class="display-4">@ViewData["Error"]</h2>
        }
    </div>
    <div class="container">
        @if(ViewData["Result"] != null) 
        {
            <h2 class="display-4">@ViewData["Result"]</h2>
        }
    </div>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-success">Voltar à Página Inicial</a>