@{
    ViewData["Title"] = "Compra Confirmada";
}

<div class="d-flex justify-content-center">
    <i class="fa-solid fa-circle-check"></i>

    <h1>Compra Confirmada!</h1>

    <a asp-action="Index" asp-controller="Home"></a>
</div>